

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: calc(100vh);
  width: 100%;
}
main > section {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(134, 80, 63, 0.8);
  border-radius: 25px;
}
main > section > h2 {
  font-family: medieval;
  font-size: 50px;
  color: darkred;
  -webkit-text-stroke-color: black ;
  -webkit-text-stroke-width: 2px;
}
main > section > p {
  font-family: sans-serif;
  padding: 50px;
  width: 80%;
  text-align: justify;
  color: rgb(255, 0, 0);
  -webkit-text-stroke-color: black ;
  -webkit-text-stroke-width: 1px;
  font-family: Helvetica, sans-serif;
  font-size: x-large;
}
main > section > iframe {
  width: 700px;
}

@media (max-width: 767px) {
  main {
    width: 96%;
    height: fit-content;
    border-radius: 0;
  }
  main > section > p {
    width: 96%;
  }
  main > section {
    border-radius: 0;
    height: 200%;
  }
}
